body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdffff;
    display: flex;
}

.wrapper {
    display:flex;
    width:100%;
}

main {
    flex:1;
    max-width: 1200px;
    margin: 30px;
    transition: 0.5s;
}

section {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 34px;
    font-weight: bold;
    color: #121111;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
}

h2 {
    font-size: 28px;
    font-weight:normal;
    color: #434141;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3 {
    font-size: 22px;
    font-weight:normal;
    color: #434141;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    color: #434141;
    margin-left: 20px;
}

.side {
    max-width:300px;
    min-width:300px;
    background-color: rgba(0,0,0,0.8);
    padding:0px;
    position:sticky;
    top:0px;
    height:100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.name {
    font-size: 34px;
    color: #f5f0f0;
    padding-top:50px;
    padding-left:20px;
}

.photo {
    padding-top:100px;
}

nav p {
    color:#fff;
}

nav a {
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    margin-left: 20px;
}

/* Styles for hamburger menu */
.hamburger {
    display: none;
    cursor: pointer;
    transition: 0.5s;
}

/* Media query for smaller screens */
@media only screen and (max-width: 800px) {
body {
    margin:0px;
    padding:0;
}

.side {
    margin-left:-300px;
    /*min-width:0; /* reset min-width */
    /*width: 0; /* Initially hide sidebar */
    /*overflow:hidden;*/
}

.hamburger {
    display:block;
    position:fixed;
    font-size:40px;
    font-weight:bold;
    color:black;
    padding-top:20px;
    padding-left:20px;
    padding-right:10px;
    padding-bottom:15px;
}

main {
    margin-top:50px;
    margin-left:15px;
}

    /* Show sidebar when hamburger menu is clicked */
    .side.open {
        /*min-width: 300px;*/
        margin-left:0px;
    }

    .hamburger.open {
        color:white;
    }

    
    main.hidden {
        /*display:none;*/
        margin-left:-285px;
    }
    


}

a, a:hover, a:visited {
    color: inherit;
}

a:hover, a:focus {
    font-weight:bold;
}

ul li {
    padding-bottom: 10px;
    color: #434141;
    line-height: 1.5;
}